html {
	/*Aumenta la altura del espacio a utilizar al máximo*/
	height: 100%;
	background-color:black;
	color: white;
	text-align: center;
}


body {
	background-color: black;
	/*no permite reducir la altura del body*/
	min-height: 100%;
	width: 
}

.grid-container {
	display: grid;
	/*grid-template-rows: 10% 40% 50% 20%;
	grid-template-rows:6rem 13rem 18rem 10rem;
	grid-template-columns: 70% 30%;
	grid-template-areas:
		"nav-area 		nav-area"
		"header-area 	header-area"
		"section-area 	aside-area"
		"footer-area 	footer-area"
	;*/
	grid-template:
		"nav-area 		nav-area" 6rem
		"header-area 	header-area" 10rem
		"section-area 	aside-area" auto
		"footer-area 	footer-area" 10rem /
		70% 			30%
	;
}

.grid-gallery {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: auto auto;
}

.grid-section {
	display: grid;
	grid-template-columns:auto auto;
	grid-template-rows:auto auto;
}

section h1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

nav {
	background-color: black;
	grid-area: nav-area;
	margin: 0 auto; /* Centro el contenedor */
}

ul{
  float: left;
  list-style-type: none;
  padding: 0;
  position: center; 
  left: 50%;
}

#menu li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}

#menu>li{
  float: left;
  text-align:center
}

#menu>li>ul{
  display: none;
}

#menu>li:hover>ul {
  display:block;
}

/* EJEMPLO DE CLASES NAV
.mainnav {
	background-color: #00B33C;
}
.subnav {
	background-color: #66B33C;
}
*/
header {
	background-color: crimson;
	grid-area:header-area;
}

img {
	background-color: #6350CA;
}

section {
	background-color: royalblue;
	grid-area:section-area;
}

aside {
	background-color: #1AC6FF;
	grid-area:aside-area;
	text-align: center;
}

footer {
	background-color: black;
	grid-area:footer-area;
	margin: 0 auto; /* Centro el contenedor */
}

ul{
  float: left;
  list-style-type: none;
  padding: 0;
  position: center; 
  left: 50%;
}

#piedepagina li>a{
  background-color: grey;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#piedepagina li>a:hover{
  color: #000;
  background-color: #eaeaea;
}

#piedepagina>li{
  float: left;
  text-align:center
}

#piedepagina>li>ul{
  display: none;
}

#piedepagina>li:hover>ul {
  display:block;
}


.img1 {
	grid-column-start: auto;
	grid-column-end: auto;
	width: 100%;
	object-fit: contain;
	height: 6rem;
}

.img2 {
	grid-column-start: 2;
	grid-column-end: 4;
	width: 100%;
	object-fit: contain;
	height: 6rem;

}

.img3 {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start:4;
	grid-column-end: 5;
	width: 100%;
	object-fit: contain;
	height: 10rem;
}

.img4 {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	object-fit: contain;
	height: 4rem;
}

.img5 {
	width: 100%;
	object-fit: contain;
	height: 4rem;
}

/*************************************
CAMBIOS DE CONFIGURACIÓN PARA TELÉFONO
*************************************/

@media (max-width: 425px) {
	nav {
		opacity: 20%;
	}

	.grid-container {
		grid-template:
			"nav-area 		" 6rem
			"header-area 	" 13rem
			"section-area 	" auto
			"aside-area		" 4rem
			"footer-area 	" 10rem /
			90% 			
		;
	}

	.grid-gallery {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(5, 3rem);
	}

    .img1 {
	grid-column-start: auto;
	grid-column-end: auto;

    }

	.img2 {
		grid-column-start: 1;
		grid-column-end: 2;
		
	}

	.img3 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
		
	}

	.img4 {
		grid-column-start: 1;
		grid-column-end: 2;
	   
    }

    .grid-section {
		grid-template-columns:auto;
	}

	section h1 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}


/*************************************
CAMBIOS DE CONFIGURACIÓN PARA TABLET
*************************************/
@media (max-width: 768px) {

	.grid-container {
		grid-template:
			"nav-area 		" 6rem
			"header-area 	" 13rem
			"section-area 	" auto
			"aside-area		" 4rem
			"footer-area 	" 10rem /
			90% 			
		;
		justify-content: center;
	}	

}